* {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            overflow: hidden;
        }

        /* Background blur layer */
        body::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url('../images/bak.jpg') no-repeat center center/cover;
            filter: blur(2px); /* tingkat blur */
            transform: scale(1.1); /* supaya blur tidak potong pinggir */
            z-index: -1;
        }

        /* Body tetap flex untuk center */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        
        .container {
            text-align: center;
            padding: 30px;
            border-radius: 10px;
        }
        /* Card utama */
        .card {
            width: 100%;
            max-width: 350px;
            position: relative;
            backdrop-filter: blur(4px);
            background: rgba(0, 0, 0, 0.15); /* lebih jernih */

            padding: 35px 45px;
            border-radius: 20px;

            overflow: hidden;
            animation: fadeIn 1.5s ease;
        }

        .logo-wrapper img {
            width: 130px;
            height: auto;
        }

        p {
            color: #e6e6e6;
            font-size: 14px;
            margin-bottom: 20px;
        }

        hr {
            border: none;
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }

        .akses-login {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 15px;
        }

        .login-buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .login-buttons a {
            display: block;
            text-decoration: none;
            padding: 12px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            color: white;
            width: 100%;
        }

        .admin-btn {
            background-color: #3b5bdb;
        }

        .guru-btn {
            background-color: #4DADFB;
        }

        .admin-btn:hover {
            background-color: #1c3faa;
        }

        .guru-btn:hover {
            background-color: #4ea8de;
        }

        .siswa-btn {
            background-color: rgb(166, 211, 248);
            color: #000;
        }

        .siswa-btn:hover {
            background-color: rgb(134, 202, 253);
        }

        @media (max-width: 400px) {
            .container {
                padding: 20px;
            }

            .login-buttons a {
                font-size: 14px;
                padding: 10px;
            }
        }